.nav-link {
    color: #fff;
    
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    width: fit-content;
    margin: 15px;
  
  }
  .nav-link:hover {
    background-color: #fff;
    color: #000;
  }
  #navbarDropdown {
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    width: fit-content;
    margin: 15px;
  
  }
  #navbarDropdown:hover {
    background-color: #fff;
    color: #000;
  }
  .dropdown-menu {
  width: fit-content;
  }
    h1 {
      color: #5eccd6;
      font-weight: bolder;
      margin-bottom: 20px;
    }
    
    h5 {
      color: #838383;
    }
    
    button {
      border-radius: 20px;
      margin: 20px;
      
    }
    #btn-login {
      background-color: #0b0c0c;
      color: #fff;
      border: none;
      border-radius: 20px;
      padding-left: 0px;
      justify-content: center;
    }
    
    p {
      margin-bottom: 20px;
      text-align: center;
      color:  rgb(229, 230, 233);
      padding-top: 20px;
      font-weight: bold;
  
    }
    
    .background {
      background: rgb(63,94,251);
      background: linear-gradient(309deg, rgba(63,94,251,1) 0%, rgba(67,136,252,1) 53%, rgba(70,174,252,1) 100%);
      align-items: center;
      display: flex;
      height: 100%;
     
      justify-content: center;
    }
    
    .login-container {
      border-radius: 10px;
      box-shadow: 0 0 20px 2px #e4e4e4;
      display: flex;
      width: fit-content;
    }
    
    .text-container {
      align-items: center;
      background-color: #5eccd6;
      border-radius: 10px 0 0 10px;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 50px;
      width: 40%;
    }
    
    .form-container {
      align-items: center;
      background-color: #fff;
      border-radius: 0 10px 10px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 80px;
      width: 70%;
    }
    
    .text-container h1 {
      color: #fff;
    }
    
    .text-container button , .btn{
      background-color: transparent;
      border: 2px solid #fff;
      border-radius: 20px;    
      box-shadow: 20px 20px 20px #e4e4e4;
      width: 50%;
      border-radius: 20px;
      color: #fff;
      font-weight: bolder;
      margin: 20px;
      
    }
    
  
  .navbar {
    background: black;
    border-bottom: 3px solid rgb(19, 17, 17);
    color: white;
  }
  .navbar-toggler {
    background-color: white;
    color: rgb(243, 234, 234);
  }
  #form {
      padding-inline-start: 20px;
      padding-inline-end: 20px;
  
  }
  .btn{
  background-color:  #5eccd6;
  ; align-items: center;
    width: 100%;
      border-radius: 20px;
      color: #fff;
      margin: 20px;
  
  }
  .btn1{
    background: rgb(63,94,251);
    background: linear-gradient(309deg, rgba(63,94,251,1) 0%, rgba(67,136,252,1) 53%, rgba(70,174,252,1) 100%);
  
      border-radius: 20px;
      color: #fff;
      
  
  }